<html>
	<head>
		<title>Reset Successful</title>

		<style>
			.container{
				padding-top: 15%;
				vertical-align: middle;
			}
			.center {
				margin: auto;
				position: relative;
				padding: 47px 50px 35px 50px;
				width: 400px;
				height: 100px;
				background-color: white;
				text-align: center;
				border-radius: 5px;
				border: 10px solid white;
			}
		</style>

	</head>

	<body style="background-image: url('{{ STATIC_URL }}/static/images/fin2.jpg'); background-size: cover;">
		<div class="container">
			<div class="center" style="font-family: Arial; font-size: 20px">
				<p>
					Your password has been set. <br>You may go ahead and 
					<a href="{% url 'login' %}">Log In</a> 
					now.
				</p>
			</div>
		</div>
	</body>
</html>