<html>
	<head>
		<title>Reset Password</title>

		<style>
			.container{
			padding-top: 10%;
			vertical-align: middle;
			}

			.center {
			margin: auto;
			padding: 50px 50px;
			width: 50vw;
			height: 15vw;
			padding-top: 7%;
			background-color: white;
			text-align: center;
			border-radius: 5px;
			border: 10px solid white;
			}
		</style>
	</head>

	<body style="background-image: url('{{ STATIC_URL }}/static/images/fin2.jpg'); background-size: cover;">
		<div class="container">
			<div class="center">
				<h3 style = "font-family: arial; font-size: 20px">
					We have emailed you the instructions to reset your password, if an account exists with the email you entered.
					You should receive them shortly.
				</h3>
				<h3 style = "font-family: arial; font-size:20px">
					If you don't receive an email, please make sure you've entered the address you registered with,
					and check your spam folder.
				</h3>
			</div>
		</div>
	</body>
</html>