body {
	font-family: 'Arial', sans-serif;
}

.dropzone {
	align-self: center;
	width: 450px;
	height: 300px;
	border: 2px dashed #773E01;
	color: #773E01;
	line-height: 300px;
	text-align: center;
	font-size: 18px;
	background-color: #000;
	margin: 0 auto;
	border-radius: 10px;
}
.dropzone.dragover {
	border-color: #000;
	color: #000;
}
.NTN {
	align-self: center;
	text-align: center;
	color: #030000;
	font-family: "Consolas";
	font-size: 24px;
}