{%load static%}
<!DOCTYPE html>
<html>
	<head>
		<title>Categorical Expenses</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/chart.css'%}">
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	</head>

	<body>
		<div>
			<br>
			<div id="container" style="margin:auto; width: 70%;">
				<canvas id="pie-chart"></canvas>
			</div>

			<script>
				var config = {
				type: 'pie',
				data: {
					datasets:[{
					data: {{ data|safe }},
					backgroundColor: ['#FFC0CB', '#EE82EE', '#7B68EE', '#F08080', '#FFE4B5','#90EE90','#D3D3D3'],
					label: 'Total Expenditure'
					}],
					labels: {{ labels|safe }}
				},
				options: {responsive: true}
				};
			
				window.onload = function() {
					var ctx = document.getElementById('pie-chart').getContext('2d');
					window.myPie = new Chart(ctx, config);
				};
			</script>
			<br>
			<div class="container" style="margin:auto">
				<div class="vertical-center">
					<button>
					<a style="color: #555555; font-family:Arial; text-decoration: none; font-weight: bold;" href="{% url 'homepage' %}">
						GO BACK TO CHATBOT
					</a>
					</button>
				</div>
			</div>
		</div>
	</body>
</html>