<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title></title>
  </head>

  <body>
    <div class="bg">
    <div class="container "class="bg">

      <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <h1><b>REGISTER</b></h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

      <label for="Username"><b>USERNAME</b></label>
      {{user_form.username}}
        <hr>

        <label for="name"><b>FULL NAME</b></label>
      <input type="text" placeholder="Enter name" name="name" required>
      <hr>

        <label for="Email ID"><b>EMAIL ID</b></label>
        {{user_form.email}}

        <hr>

        <label for="Password"><b>PASSWORD</b></label>
        {{user_form.password}}

          <hr>

      <label for="monthly_income"><b>MONTHLY INCOME</b></label>
      <input type="number" placeholder="Enter Monthly Income" name="monthly_income" required>
      <hr>

      <label for="account_balance"><b>ACCOUNT BALANCE</b></label>
      <input type="number" placeholder="Enter Account balance" name="account_balance" >
      <hr>

             <button type="submit" name="button">REGISTER</button>
        </form>
  </div>
</body>

</html>
